  <style>

    #footer {
      background-color: #0E6BEB;
      padding: 40px 60px;
      display: flex;
      flex-direction: column;
    }

    .footer-text {
      color: white;
      margin-top: 20px;
      display: inline-flex;
      align-content: center;
    }
    
    .footer-icons {

	display: flex;
	justify-content: center;
	padding: 5px;
    }

    .footer-icons > img {
	padding: 5px;
    }

    .footer-first {
	display: flex;
	width: 100%;
    }
 
    @media only screen and (max-width: 600px) {

	.footer_first {
		flex-direction: column;
	}
    }

    .footer-text > img {
      max-height: 25px;
      margin-right: 5px;
    }

    .footer-link {
	margin-left: 20px;
	color:white;
    }

    .footer-link a {
	color: white;
	text-decoration: none;
    }

    .footer-text > span {
    }

    @media only screen and (max-width: 600px) {
	#footer {
    	    flex-direction: column;
	    text-align: center;
	}

	.footer-logo {
	    margin-bottom: 20px;
	}

	.footer-text {
		text-align: center;
		margin-left: 0;
	}

	.footer-first {
		flex-direction: column;
	}

	.footer-link {
		margin-left: 0;
		margin-top: 20px;
	}

    }


    .saiba-mais {
      border-radius: 50px;
      text-transform: uppercase;
      background-color: #0E6BEB;
      color: white;
      padding: 20px;
      margin-top: 20px;
      display: inline-block;
    }

    footer {
	    background: #0E6BEB;
    }

  </style>

<footer>
  <div class="container">
    {% block footer_content %}
      <div id="footer">
	<div class="footer-first">
	        <div class="footer-logo">
	          <img src="/prefeitura-curvelo-logo.png">
	        </div>
		<div class="footer-link">
			<a href="/sobre">Sobre <b>Curvelo Aberta</b></a>
		</div>
		<div class="footer-link">
		<a  href="{{ api_url }}">{{ _('CKAN API') }}</a>
		</div>
		<div class="footer-link">
		<a href="http://www.ckan.org/">{{ _('CKAN Association') }}</a>
		</div>
		<div class="footer-link">
		<a href="http://www.opendefinition.org/okd/"><img src="{{ h.url_for_static('/base/images/od_80x15_blue.png') }}" alt="Open Data"></a>
		</div>
		<div class="footer-link">
		{% trans %}<strong>Powered by</strong> <a class="hide-text ckan-footer-logo" href="http://ckan.org">CKAN</a>{% endtrans %}
		</div>
		<div class="footer-link">
        	{% block footer_lang %}
        	  {% snippet "snippets/language_selector.html" %}
        	{% endblock %}
		</div>
	</div>
        <div class="footer-text">
		<div class="footer-icons"><img src="/cc.png"><img src="/copy.png">
		</div>
		<div>Desenvolvido pela <b>Open Knowledge Brasil</b>. O conteúdo deste site está disponível sob a licença Creative Commons Atribuição 4.0 Internacional, exceto quando especificada outra licença. Isso significa que pode ser compartilhado e reutilizado em trabalhos derivados, desde que citada a fonte.</div>
        </div>

      </div>
      </div>
    </div>
    {% endblock %}
  </div>
</footer>
